<head>
    <meta charset="UTF-8">
    <title>Marvin, Deep Learning in N Dimensions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Marvin is a deep learning framework designed first and foremost to be hackable. It is naively simple for fast prototyping, uses only basic C/C++, and only calls CUDA and cuDNN as dependencies." />

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    <!-- <link rel="stylesheet" href="/assets/css/pygment_trac.css"> -->
    
    <!-- <script type="text/javascript" -->
    <!--    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> -->
    <!--   MathJax.Hub.Config({ -->
    <!--     tex2jax: { -->
    <!--       inlineMath: [['$','$'], ['\\(','\\)']], -->
    <!--       processEscapes: true -->
    <!--     } -->
    <!--   }); -->
    <!-- </script> -->

    {% include analytics.html %}

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
