* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71; }

a {
    color: #1e6bb8;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
    margin-left: 1rem; }

.btn:hover {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4); }

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

.page-header {
    color: #fff;
    position: relative;
    text-align: center;
    background-color: #ee7f2d;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 2.5rem 6rem 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 1rem 4rem 3rem 4rem; } }

@media screen and (max-width: 42em) {
    .page-header {
        padding: 3rem 1rem 1rem 1rem; } }

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem; } }

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.9; }

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem; } }

.main-content :first-child {
    margin-top: 0; }
.main-content img {
    max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #ee7f2d; }
.main-content p {
    margin-bottom: 1em; }
.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem; }
.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem; }
.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
    margin-bottom: 1rem; }
.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
                                                                                              content: normal; }
.main-content ul, .main-content ol {
    margin-top: 0; }
.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child {
    margin-top: 0; }
.main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; }
.main-content table th {
    font-weight: bold; }
.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
    padding: 0; }
.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0; }

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem; } }

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1; }

.site-footer-owner {
    display: block;
    font-weight: bold; }

.site-footer-credits {
    color: #819198; }

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem; } }

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem; } }

marvin {
    position: absolute;
    background: url('/assets/img/marvin.svg');
}
@media screen and (min-width: 42em) and (max-width: 128em) {
    marvin {
        background-size: 8rem 8rem;
        bottom: 0;
        right: 1rem;
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (min-width: 42em) {
    .right .github-fork-ribbon {
        background-color: #231F20;
    }
}

@media screen and (max-width: 42em) {
    .github-fork-ribbon {
        display: none;
    }
}

nav {
    background: #ee7f2d;
    position: relative;
}

nav #menu {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url("/assets/img/menu-icon.png") center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding-left: 2rem;
    overflow: hidden;
    line-height: 4rem;
    overflow: hidden;
    font-weight: 550;
}

nav ul li a {
    color: rgba(255, 255, 255, 1.0);
}

nav ul li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.nav-marvin {
    font-weight: bold;
}

.tutorial-slides {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.tutorial-slides iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ol {
    margin-left: 1.5em;
}

@media screen and (max-width: 42em) {

    marvin {
        position: fixed;
        transform: rotate(180deg);
        z-index: 999;
        background-size: 4rem 4rem;
        width: 4rem;
        height: 4rem;
        right: 1rem;
        top: 0;
    }

/*    nav {
        display: none;
    }*/

/*    nav {
        display: block;
        text-align: center;
        z-index: 999;
    }

    #menu {
        display: inline-block;
        float: right;
    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #444;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }*/

    /*

    nav ul {
        display: inline-block;
    }

    nav ul li {
        line-height: 4rem;
        font-size: 0.9rem;
        padding-left: 1rem;
    }*/
}